* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#header {
    height: 72px;
    background: #F7F4FF;
    margin-left: 30px;
    text-align: end;
}

#nextmove {
    padding: 13px;
}

#about {
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

#contact {
    color: #8E26C0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
}

#contacts {
    display: inline-block;
    margin-left: 100px;
}

#button {
    display: inline;
    margin-left: 100px;
}

#contactus {
    width: 105px;
    height: 33px;
    color: #8E26C0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    padding: 8px 16px;
    background: #fff;
}

#padding {
    margin-left: 50px;
}

header {
    display: inline-block;
    margin-left: 627px;
}

#photo {
    vertical-align: middle;
    display: inline-block;
}


#photoid {
    max-width: 1221px;
    margin: auto;
    margin-top: 147px;
}

#box {
    max-width: 644px;
    display: inline-block;
    text-align: center;
    width: 553px;
    vertical-align: middle;
    margin-left: 45px;
}


#lorem {
    color: #535862;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-top: 16px;
}


ol {
    margin-top: 16px;
    list-style-position: inside;
    text-align: left;
    margin-left: 20px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

#contactContainer {
    width: 100%;
    max-width: 1221px;
    text-align: center;
    margin: 0 auto;
    margin-top: 83px;
}

#contacss {
    display: inline-block;
    text-align: center;
}

#contactUsHeader {
    display: inline-block;
    font-weight: bold;
    font-size: 49px;
}

#loremipsum {
    color: #535862;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 905px;
    margin-top: 18px;

}

#informationcontainer {
    width: 1221px;
    border-radius: 16px;
    background: #F7F4FF;
    padding: 32px;
    height: 538px;
    margin-top: 28px;
}

#contactbox {
    width: 500px;
    height: 474px;
    background: #FFF;
    border-radius: 16px;
    padding: 20px;
    +

}

#location {
    text-align: left;
}

#pin {
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 50px;
    background: #F7F4FF;
    vertical-align: middle;
}

#address {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

#sandiego {

    color: #6D5F8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}

#information {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}

#emailInfrmation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;

}

#emailBox {
    margin-top: 24px;
}

#email {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;

}

#deanna {
    color: #6D5F8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}

#phoneInformation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;

}

#phoneBox {
    margin-top: 24px;
}

#phone {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;


}

#phonenumber {
    color: #6D5F8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}
#dd {
    
}